<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 头部公共组件 -->

<head th:include="~{system/common/component::myheader('用户添加')}"></head>

<body>

	<!-- 顶部菜单组件 -->
	<div th:insert="~{system/common/component::#mymenu}"></div>

	<div>
		<div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
			<form class="border rounded p-5" th:object="${adduser}" th:action="@{add}" method="post">
				<h3 class="mb-4 text-center">添加新用户</h3>
				<div class="form-group">
					<input type="text" name="username" th:value="*{username}" class="form-control form-control-lg"
						placeholder="新用户名称" required="">
				</div>
				<div class="form-group">
					<input type="password" name="password" th:value="*{password}" class="form-control form-control-lg"
						placeholder="新用户密码" required="">
				</div>
				<div class="form-group">
					<input type="text" name="description" th:value="*{description}" class="form-control form-control-lg"
						placeholder="添加用户描述 / 说明">
				</div>
				<div class="form-group">
					<a class="btn btn-outline-primary" th:href="@{list}"> &lt;&lt; 返回</a>
					<span th:each="url:${verifyurls}">
						<span th:if="${url.path} == |${verifyreq}/add|">
							<button type="submit" class="btn btn-primary">确认添加</button>
						</span>
					</span>
				</div>
			</form>
		</div>
	</div>

	<!-- 底部Footer组件 -->
	<div th:insert="~{system/common/component::#myfooter}"></div>

</body>

</html>